[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pip_conf_index_global"
# add dependencies here and to pyproject.toml

[packages]
requests = "*"
pandas = "*"
pymlb-statsapi = {editable = true, path = "."}
serde = "*"
pyyaml = "*"

[dev-packages]
build = "*"
twine = "*"
pytest = "*"
black = "*"
behave = "*"
pytest-cov = "*"
flake8 = "*"

[requires]
python_version = "3.9"
